<header id="top">
  <div class="topnav" id="myTopnav">
    <a [routerLink]="['']" routerLinkActive="router-link-active">Home</a>
    <a *ngIf="accountService.getCurrentUserValue() != null && accountService.getCurrentUserValue().role === 'admin' "  [routerLink]="['/post-create']" routerLinkActive="router-link-active">Create post</a>
    <a [routerLink]="['/about-me']" routerLinkActive="router-link-active">About Me</a>
    <a *ngIf="accountService.getCurrentUserValue() == null" id="profile" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
    <a *ngIf="accountService.getCurrentUserValue() != null" id="profile" [routerLink]="['']" (click)="logout()">Logout</a>
    <a *ngIf="accountService.getCurrentUserValue() == null" id="profile" [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
  <div class="row">

    <div class="header-content twelve columns">

      <h1 id="logo-text">
        <a title="">CodeNerd</a>

      </h1>
      <p id="intro"><strong>
          <font color="green" *ngIf="accountService.getCurrentUserValue()">Hello
            {{accountService.getCurrentUserValue().username}} !</font>Eat, sleep, games, and code!
        </strong></p>
    </div>
  </div>

</header>
