
<!-- respond -->
<div class="respond">

  <h3>Edit a post</h3>

  <!-- form -->
  <form name="postForm" method="post" [formGroup]="PostForm" ngNativeValidate>
      <fieldset>

          <div class="group">
              <label for="cTitle">Title <span class="required">*</span></label>
              <input required formControlName="title" type="text" size="35"/>
          </div>
          <div class="group">
              <label for="cGenre">Genre <span class="required">*</span></label>
              <input required formControlName="genre" type="text" size="35" />
          </div>

          <div class="group">
              <label for="cImage">Image:{{this.post.image}} <span class="required">*</span></label>
              <input  type="file" accept="image/*" size="35" (change)="onFileChange($event)" />
          </div>
          <div class="message group">
              <label for="cSummary">Summary <span class="required">*</span></label>
              <textarea formControlName="summary" rows="150" cols="200"> </textarea>
          </div>
          <div class="message group">
              <label for="cContent">Content <span class="required">*</span></label>
              <textarea formControlName="content" rows="150" cols="200" ></textarea>
          </div>
          <button (click)="submitPost()" type="submit" class="submit">Submit</button>


      </fieldset>
  </form> <!-- Form End -->

</div> <!-- Respond End -->
