/* Full-width inputs */
#sidebar .widget_search .text-search {
	padding-right: 40px;
	border:none;
   width: 60%;
   min-width: 150px;
   border-radius: 3px;
}
select{
  text-align: center;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.my-pagination /deep/ .ngx-pagination .current {
  background: green;
}
