<div id="content-wrap">
  <div class="row">

    <div id="main" class="eight columns">
      <div *ngFor="let post of postList | customFilter:term:selectedOption | paginate: {  itemsPerPage: 3, currentPage: p}  ">
          <article class="entry ">
            <header class="entry-header">

              <h2 class="entry-title">
                <a [routerLink]="['/posts', post.id]" [state]="postList" routerLinkActive="router-link-active"
                  title="">{{post.title}}</a>
              </h2>
              <div class="entry-content-media">
                <div class="post-thumb">
                  <img [src]="postService.imageUrl+post.image" height="300dp" width="300dp">
                </div>
              </div>
              <div class="entry-meta ">
                <ul>
                  <li>{{post.date | date:"MM/dd/yy h:mm:ss a"}}</li>
                  <span class="meta-sep">&bull;</span>
                  <li>By {{post.username}}</li>
                  <span class="meta-sep">&bull;</span>
                  <li><a href="#" title="" rel="category tag">Genre: {{post.genre}}</a></li>
                  <span *ngIf="post.comments.length > 0" class="meta-sep">&bull;</span>
                  <li *ngIf="post.comments.length > 0">{{post.comments.length}} comments</li>
                </ul>
              </div>

            </header>

            <div class="entry-content">
              <p>{{post.summary}}</p>
            </div>
          </article> <!-- end entry -->
      </div>
    </div> <!-- end main -->

    <div id="sidebar" class="four columns">

      <div class="widget widget_search">
        <h3>Search</h3>
        <div>
          <input (input)="resetPage()" type="text" [(ngModel)]="term" class="text-search">
          <select [(ngModel)]="selectedOption">
            <option value="Title">Title</option>
            <option value="Genre">Genre</option>
          </select>
        </div>
      </div>

      <div class="widget widget_categories group">
        <h3>Categories.</h3>
        <ul>
          <div *ngFor="let item of getCategories()">
            <li><a (click)='setTerm(item)'>Genre: {{item}}</a></li>
          </div>
        </ul>
      </div>

      <div class="widget widget_popular">
        <h3>Popular Post.</h3>

        <ul *ngFor="let post of topPostList | slice:0:3" class="link-list">
          <li> <a [routerLink]="['/posts', post.id]" [state]="postList" routerLinkActive="router-link-active"
              title="">Title: {{post.title}}| Total comments:{{post.comments.length}}</a></li>
        </ul>

      </div>

    </div> <!-- end sidebar -->

  </div> <!-- end row -->
  <div class="row add-bottom">

    <div class="twelve columns add-bottom">

      <nav class="pagination add-bottom">
        <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
      </nav>

    </div>

    <hr />

  </div> <!-- Row End-->
</div> <!-- end content-wrap -->
