<div class="respond">
  {{isLoggedIn()}}
  <form class="modal-content animate" method="post" [formGroup]="loginForm" ngNativeValidate>
    <div class="imgcontainer">
      <img src="assets/images/user-03.png" alt="Avatar" class="avatar">
    </div>
    <div class="container">
      <div class="group">
        <label for="cUsername" >Username <span class="required">*</span></label>
        <input required formControlName="username" type="text" size="35" />
      </div>
      <div class="group">
        <label for="cPassword" >Password <span class="required">*</span></label>
        <input required formControlName="password" type="password" size="35" />
      </div>

      <button (click)="submit()" type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" (click)="register()"class="cancelbtn">Register</button>
      <span class="psw"><a href="#">Forgot password?</a></span>
    </div>
  </form>

</div>
