<div class="respond">
   <form class="modal-content animate" method="post" [formGroup]="registerForm" ngNativeValidate >
      <div class="imgcontainer">
        <img src="assets/images/user-03.png" alt="Avatar" class="avatar">
      </div>


      <div class="group">
        <label for="cUsername" >Username <span class="required">*</span></label>
        <input required (change)="onUserNameChange()" formControlName="username" type="text" size="35" />
        <p><font color="red">{{isUserExist!}}</font></p>
      </div>
      <div class="group">
        <label for="cPassword" >Password <span class="required">*</span></label>
        <input required formControlName="password" type="password" size="35" />
      </div>
      <div class="group">
        <label for="cEmail" >Email <span class="required">*</span></label>
        <input formControlName="email" type="text" size="35" />
      </div>

      <div class="group">
        <label for="Roles">Choose a role:</label>
        <select formControlName="role">
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
      </div>
      <div class="group">
        <label for="cImage">Image <span class="required">*</span></label>
        <input  type="file" accept="image/*" size="35" (change)="onFileChange($event)" />
    </div>
      <div class="group">
        <label for="cPhone" >PhoneNumber <span class="required">*</span></label>
        <input formControlName="phoneNumber" type="number" size="35" width="300" />
      </div>
      <button (click)="submit()"  type="submit" class="submit" >Submit</button>
    </form>
  </div>
